<div class="card">
    <img src="{{ room.owner.avatar or url_for('static', filename='avatar/_guest.jpg') }}" class="card-img-top"
         style="height: 200px">
    <div class="card-body" id="guest-info">
        <h5 class="card-title">
            {{ room.owner.nickname }}
        </h5>
        <p class="card-text">[Owner]</p>
    </div>
</div>
{# 若已经选了best friends 则己方显示friends，对方问号头，仅限一侧#}
{% if room.owner_lurk and room.owner == current_user %}
    <img src="{{ room.owner_lurk_src }}" class="mt-5 lurk">
{% else %}
    <img src="{{ url_for('static', filename='lurk.jpg') }}" class="mt-5 lurk">
{% endif %}