{% extends 'play_base.html' %}

{% block body %}
    <div class="row">
        {# 房主信息 #}
        <div class="col col-lg-2 text-center" id="ownerInfo">
            {% include '_owner_join.html' %}
        </div>
        {# 问答框 #}
        <div class="col col-lg-8">
            <div id="play-info">
                {% for info in room.info %}
                    <div class="msg-item">
                    {# 提问的问题 #}
                        <div class="msg-avatar">
                            <img src="{{ room.owner.avatar }}">
                        </div>
                        <div class="msg-content">{{ info.question }}</div>
                    </div>
                    {% if info.answer %}
                        <div class="msg-item">
                            <div class="msg-avatar">
                                <img src="{{ room.guest.avatar }}">
                            </div>
                            <div class="msg-content">{{ info.answer }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {# 如果不许提问则设置disabled #}
            <div id="play-question">
                <textarea class="form-control" rows="3" {%- if not room.can_question() %}
                          disabled{%- endif -%}></textarea>
                <div class="form-text">Enter Send</div>
            </div>
        </div>

        <div class="col col-lg-2 text-center" id="guestInfo">
            {% include '_guest_join.html' %}
        </div>
    </div>
    <div id="over" class="text-center">
        <button type="button" data-bs-toggle="modal" data-bs-target="#gameOver" class="btn btn-outline-success">Guess
        </button>
    </div>
        {# 回答框 #}
    <div class="modal fade" id="answerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Please answer</h5>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="answerAction('Yes')">Yes</button>
                    <button type="button" class="btn btn-danger" onclick="answerAction('No')">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="gameOver" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Who is his/her best friend?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row gy-3 gx-3">
                        {# 展示9张图 #}
                            {% for item in room.resource %}
                                <div class="col-md-4 over-lurk">
                                    <img
                                            class="rounded"
                                            src="{{ item.url }}"
                                            data-target="{{ item.id }}"
                                            data-index="{{ loop.index }}"
                                    />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block tail_js %}
    {{ super() }}
     <script>
        const questionTextarea = $('#play-question textarea')
        const answerModal = new bootstrap.Modal($('#answerModal'))
        const gameOverModel = new bootstrap.Modal($('#gameOver'))

        questionTextarea.keydown(function (event) {
            {# 回车对应码 #}
            if (event.which == 13) {
                event.preventDefault()
                let content = questionTextarea.val().trim()
                socket.emit(
                    'operation',
                    {
                        'action': 'question',
                        'info': content
                    }
                )
                {# 格式化val，设置锁定 #}
                questionTextarea.val('')
                questionTextarea.attr("disabled", true);
            }
        })
        {# 接收来自提问操作的信息，放在data中使用 #}
        socket.on('play info', function (data) {
            {# 用append使得聊天气泡不重叠 #}
            $('#play-info').append(data.html)
            {# 若是提问的信息， 且是对面提问， 则我方回答#}
            if (data.action == 'question' && data.action_user != '{{ current_user.username }}') {
                {# 显示问题信息 #}
                $('#answerModal .modal-body').text(data.action_info)
                answerModal.show()
            }
            {# 回答后解锁提问框 #}
            if (data.action == 'answer' && data.action_user == '{{ current_user.username }}') {
                questionTextarea.removeAttr("disabled");
            }
        })

        socket.on('over success', function (victory) {
            alert('Gameover！ Winner is : ' + victory)
            location.href = '{{ url_for('dashboard.index_view') }}'
        })

        socket.on('over fail', function (msg) {
            alert(msg)
        })

        function answerAction(reply) {
            socket.emit(
                'operation',
                {
                    'action': 'answer',
                    'info': reply
                }
            )
            answerModal.hide()
            $('#answerModal modal-body').text()
        }

        $('#gameOver img').click(function () {
            if (confirm('The ' + $(this).data('index') + ' picture is the best friend? You have 3 chances in total')) {
                socket.emit('over', $(this).data('target'))
                gameOverModel.hide()
            }
        })

        // 重写加载页面的时候，轮到答复的玩家答复时 答复框默认不显示的问题

        {#function need_answer(){#}
        {#    $('#answerModal .modal-body').text('{% if room.info %}{{ room.info|last|attr('question') }}{% endif %}')#}
        {#    answerModal.show()}#}
        {##}
        {#$(function () {#}
        {#    {% if room.need_answer() %}need_answer(){% endif %}}#}
        {#)#}
    </script>
{% endblock %}