/* 页面整体 */
body {
margin: auto;
max-width: 580px;
font-size: 14px;
font-family: Helvetica, Arial, sans-serif;
}
/* 页脚 */
footer {
color: #888;
margin-top: 15px;
text-align: center;
padding: 10px;
}
/* 龙猫图片 */
.totoro {
position:absolute;
top:200px;
padding-left: 120px;
display: block;
margin: 0 auto;
height: 200px;
}

#table1 {
    position:absolute;
    left:35%;
    width:30%;
    top:550px;
    height: 50px;
}

#table2 {
    position:absolute;
    left:35%;
    width:30%;
    top:600px;
    height: 50px;
}

#table3 {
    position:absolute;
    left:35%;
    width:30%;
    top:20px;
    height: 50px;
}

#table4 {
    position:absolute;
    left:35%;
    width:30%;
    top:70px;
    height: 50px;
}

.active{
        background: indianred;
    }

.btn {
    margin-left: -400px;
    margin-top: 0px;
}