/* 页面整体 */
body {
margin: auto;
max-width: 580px;
font-size: 14px;
font-family: Helvetica, Arial, sans-serif;
}
/* 页脚 */
footer {
color: #888;
margin-top: 15px;
text-align: center;
padding: 10px;
}
/* 龙猫图片 */
.totoro {
position:absolute;
top:200px;
padding-left: 120px;
display: block;
margin: 0 auto;
height: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    padding: 10px 20px;
}

#table1 {
    position:absolute;
    left:35%;
    width:30%;
    top:550px;
    height: 50px;
}

#table2 {
    position:absolute;
    left:35%;
    width:30%;
    top:600px;
    height: 50px;
}

#table3 {
    position:absolute;
    left:35%;
    width:30%;
    top:20px;
    height: 50px;
}

.fa {
    color: red;
    font-size: 20px;
    }

#table4 {
    position:absolute;
    left:35%;
    width:30%;
    top:70px;
    height: 50px;
}

#ask {
    position:absolute;
    left:1110px;
    width:100px;
    top:600px;
    height: 50px;
}

#guess {
    position:absolute;
    left:1280px;
    width:100px;
    top:600px;
    height: 50px;
}

#listbutton {
   position:absolute;
    /*!*left:1200px;*!右侧*/
    left: 100px;
    width:auto;
    top:20px;
    height: 50px;
}
#register_button {
   position:absolute;
    left: 700px;
    width:auto;
    top:300px;
    height: 50px;
}