<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# 移动设备兼容 #}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <link rel="icon" href="{{ url_for('static', filename='face.jpg') }}" rel="stylesheet">
        {# 添加标签头像 #}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        {# css有前端框架Bootstrap、Semantic-UI、Foundation 等 #}
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <title>{{ name }}'s Guesswho</title>
    </head>
    <body>
        <div class="container mt-3">
         <table class="table table-bordered" id="table1">
              <tr>
                <td>Avatar</td>
                <td>hide</td>
                <td>best friends</td>
              </tr>
         </table>
         <table class="table table-bordered" id="table2">
            <tr>
                <td>name</td>
                <td>scores</td>
            </tr>
         </table>
         <table class="table table-bordered" id="table3">
              <tr>
                <td>Avatar</td>
                <td>hidden best friends</td>
              </tr>
         </table>
         <table class="table table-bordered" id="table4">
              <tr>
                <td>name</td>
                <td>scores</td>
              </tr>
         </table>

         <button type="button" class="btn btn-primary" id="ask"  data-bs-toggle="modal" data-bs-target="#chatModal">Ask</button>

         <!-- 模态框 -->
            <div class="modal" id="chatModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- 模态框头部 -->
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- 模态框内容 -->
                  <div class="modal-body">
                   online chat channel
                  </div>

                  <!-- 模态框底部 -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
                  </div>

                </div>
              </div>
            </div>

         <button type="button" class="btn btn-primary" id="guess" data-bs-toggle="modal" data-bs-target="#guessModal">Guess</button>
            <div class="modal" id="guessModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- 模态框头部 -->
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- 模态框内容 -->
                  <div class="modal-body">
{#                      猜测friend的表单#}
                      <form action="" id="guessresult">
                          <div class="mb-3 mt-3">
                            <label for="try" class="form-label">Guess Who:</label>
                            <input type="text" class="form-control" id="try" placeholder="his/her best friend" name="guessedfriend" autocomplete="off" >
                          </div>
                      </form>
                  </div>

                    <!-- 模态框底部 -->
                  <div class="modal-footer">
{#                      按钮跳跃div提交另一表单的方法#}
                    <input type="button" class="btn btn-info" value="confirm" id="gsubmit">
                  <script>
                    $(function(){
                        $('#gsubmit').on('click',function(){
                            $("#guessresult").submit();
                        })
                    })
                  </script>
                  </div>


                </div>
              </div>
            </div>
        </div>
        <img alt="Walking Totoro" class="totoro"  src="{{ url_for('static', filename='images/totoro.gif') }}">
        {# 侧边栏 #}
 {#     <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#friendslist" role="button" aria-controls="friendslist">
          朋友列表
        </a>
#}      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#friendslist" aria-controls="friendslist" id="listbutton">
          best friends list
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="friendslist" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Friends list</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            <div class="container mt-3">
{#              <h2>Friends list</h2>#}
              <div>
                  <i class="fa fa-hand-o-right"></i>
                  All friends are shown, click to mark the friends you have excluded.<p></p>
              </div>
              <ul class="list-group"  style="position:absolute; width:350px; height:500px; overflow-y:auto">
                <li class="list-group-item list-group-item-action">成功列表项</li>
                <li class="list-group-item list-group-item-action">次要列表项</li>
                <li class="list-group-item list-group-item-action">信息列表项</li>
                <li class="list-group-item list-group-item-action">警告列表项</li>
                <li class="list-group-item list-group-item-action">危险列表项</li>
                <li class="list-group-item list-group-item-action">主要列表项</li>
                <li class="list-group-item list-group-item-action">深灰色列表项</li>
                <li class="list-group-item list-group-item-action">浅色列表项</li>
                <li class="list-group-item list-group-item-action">成功列表项</li>
                <li class="list-group-item list-group-item-action">次要列表项</li>
                <li class="list-group-item list-group-item-action">信息列表项</li>
                <li class="list-group-item list-group-item-action">警告列表项</li>
                <li class="list-group-item list-group-item-action">危险列表项</li>
                <li class="list-group-item list-group-item-action">主要列表项</li>
                <li class="list-group-item list-group-item-action">深灰色列表项</li>
                <li class="list-group-item list-group-item-action">浅色列表项</li>
              </ul>
                <script>
                    $(function(){
                        $('ul li').on('click',function(){
                            if($(this).hasClass('list-group-item-danger')==false){
                                $(this).addClass('list-group-item-danger');
                            }
                            else {
                                $(this).removeClass('list-group-item-danger');
                            }})
                    })
                </script>
            </div>

          </div>
        </div>
    </body>
</html>