{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}


{% block content %}
<div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>Log in</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
</div>
{% endblock %}
{#<div class="container mt-3">#}
{#	<form method="post" action='/login'>#}
{#	  <div class="mb-3 mt-3">#}
{#		<label for="login_user" class="form-label">Username:</label>#}
{#		<input type="text" class="form-control" id="login_user" placeholder="Enter username" name="login_user">#}
{#	  </div>#}
{#	  <div class="mb-3">#}
{#		<label for="pwd" class="form-label">Password:</label>#}
{#		<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">#}
{#	  </div>#}
{#	  <div class="form-check mb-3">#}
{#		<label class="form-check-label">#}
{#		  <input class="form-check-input" type="checkbox" name="remember"> Remember me#}
{#		</label>#}
{#	  </div>#}
{#        <button type="submit" class="btn btn-primary">Login</button>#}
{##}
{#	</form>#}
{##}
{#        <button type="button" class="btn btn-primary" onclick="window.location.href='/register'">Register</button>#}
{#</div>#}
{#        {% if error %}#}
{#            <p>{{error}}</p>#}
{#        {% endif %}#}
